/*@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*/
* {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #212121;
    overflow-x: hidden;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 80px;
    margin-right: 80px;
}

.list {
    display: none;
}

.main-page {
    height: 100vh;
    position: relative;
}

.header .container,
.header .container .nav-icons>i:first-child,
.header .container .nav-icons>i:nth-child(2),
.nav-links>li>a,
.main .container .text-title h1,
.ex-info, .button-play,
.container,
.main .container button
{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.header {
    position: absolute;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 0.5);
    backdrop-filter: blur(8px);
    z-index: 10000;
}

.header .container .logo{
    font-size: 25px;
    font-weight: bold;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header .container .nav-icons {
    display: flex;
    align-items: center;
}

.header .container .nav-icons>i:first-child {
    margin-right: 20px;
    cursor: pointer;
}

.header .container .nav-icons>i:nth-child(2) {
    margin-right: 14px;
    cursor: pointer;
}


.header .nav-icons img {
    width: 37px;
    clip-path: circle();
}

.nav-links>li {
    display: flex;
    align-items: center;
}

.nav-links>li>a {
    color: white;
    display: flex;
    align-items: center;
    margin: 0 20px;
    text-transform: uppercase;
}

.nav-links>li>a:hover {
    color: rgb(0, 162, 255);
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.main .img-film img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.main .container {
    height: 100vh;
    z-index: 1;
    margin: 0px 80px;
    align-items: center;
    display: flex;
}

.main .container .text-title h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 62px;
}

.main .container .text {
    padding-bottom: 20px;
}

.main .container button{
    background-color: red;
    color: white;
    border: none;
    padding: 15px 32px;
    align-content: center;
    word-spacing: 3px;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 5px;
}

.main .container button:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.text .title-desc p {
    font-size: 17px;
    padding-bottom: 50px;
    max-width: 600px;
}

.ex-info span {
    color: rgb(255, 29, 29);
    font-size: 20px;
}

.ex-info h5 {
    font-size: 14px;
}


@media screen and (min-width:849px) and (max-width:900px) {

    .nav-links>li>a {
        color: white;
        display: flex;
        align-items: center;
    }

}

@media screen and (max-width:849px) {

    .header .container{
        margin: 0px 30px;
    }

    .main .container{
        margin: 0px 20px;
    }

    .nav-links {
        display: none;
    }

    .header .nav-icons img {
        width: 32px;
        clip-path: circle();
    }

    .header .container .nav-icons>i:first-child {
        margin-right: 20px;
        cursor: pointer;
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
    }

    .header .container .nav-icons>i:nth-child(2) {
        margin-right: 15px;
        cursor: pointer;
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
    }

    .list {
        display: block;
    }

    .header .container .nav-icons {
        display: flex;
        align-items: center;
        margin-right: 19px;
    }

    .main .container {
        align-items: normal;
    }

    .text .title-desc p {
        max-width: 100%;
        font-size: 17px;
        padding-bottom: 80px;
    }

    .ex-info {
        padding-bottom: 10px;
    }

    .ex-info h5 {
        font-size: 12px;
    }

    .main-page {
        height: 100vh;
    }

    .main-page .main .container img {
        display: none;
    }

    .text {
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .main .container .text-title h1 {
        padding-top: 121px;
        padding-bottom: 15px;
        font-size: 40px;
    }

    .ex-info {
        display: flex;
        position: absolute;
        bottom: 0;
        flex-direction: column; 
        padding-bottom: 66px;
        width: calc(100% - 60px);
    }
}

.button-play {
    width: 170px;
    height: 50px;
    font-size: 1.2rem;
    border: none;
    background-color: red;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-top: 13px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.button-play:active {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}

.play {
    margin: auto;
}

@media screen and (max-width:849px) {

    .button-play {
        margin-top: 0;
    }

    .play {
        margin-bottom: 20px;
    }

    .text {
        /* padding-bottom: 20px; */
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .button-play:active {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    .header .container .nav-icons {
        display: flex;
        align-items: center;
        margin-right: 42px;
    }

    .logo {
        font-size: 18px;
    }
}

/* Latest Movies */
.latest-movies-pages {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}


.latest-movies-pages .container .text-latest-movies-pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest-movies-pages .container h4 {
    font-size: 1.6rem;
    font-weight: 500;
}

.movies-container .card-movies p {
    position: absolute;
    top: 60px;
    padding-left: 20px;
    color: white;
    font-size: 17px;

}

.latest-movies-pages .container .text-latest-movies-pages{
    height: 80px;
}

.latest-movies-pages .container .text-latest-movies-pages p {
    font-size: 1.2rem;
    font-weight: 500;
    color: red;
    cursor: pointer;
}


.card-movies img {
    height: 100%;
}

.card-movies h5 {
    position: absolute;
    top: 34px;
    font-size: 15px;
    padding-left: 20px;
}

.movies-container  .card-movies .button-play {
    position: absolute;
    left: 16px;
    color: white;
    font-size: 11px;
    width: 74px;
    height: 24px;
    bottom: 25px;
}

.movies-container  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 200px;
}

@media screen and (max-width:1200px){
    .container {
        margin: 0px 30px;
    }
    .main .container {
        margin: 0px 30px;
    }
}

.card-movies img{
    width: 100%;
}

.swiper-button-next{
    color: white;
}

.swiper-button-prev{
    color: white;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 25px;
}
