@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s;
    font-family: 'Open Sans', sans-serif;
}

body {
    
    background-size: cover;
    background-color: #1c2b54;
    background-position: center;
}

.body-cont{
    display: flex;
}

.clear {
    clear: both;
}

ul {
    list-style: none;
}

main {
    width: calc(100% - 159px);
    border-left: 1px solid #1e367b;
    border-top-left-radius: 25px;
    border-top-right-radius: 0px;
    height: 100vh;
    background: linear-gradient(to right, #082c7c, #1f53c4);
}

.container {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

.sidebar {
    width: 250px;
}

.sidebar .logo {
    width: 140px;
    margin: 30px;
}

.main-title {
    padding: 10px 25px 10px 15px
}

.sidebar section {
    margin: 30px 0;
}

.sidebar section p {
    color: #b0c1cf;
    font-size: 14px;
}

.sidebar section ul {
    margin-top: 22px;
}

.sidebar section ul li a p {
    font-weight: bold;
    color: #294c8c;
}

.sidebar section ul li a {
    display: flex;
    align-content: center;
    text-decoration: none;
}

.sidebar section ul svg {
    fill: #294c8c;
    height: 40px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul li {
    padding: 12px 5px 12px 15px;
}

.sidebar section ul p {
    display: table-cell;
    line-height: 40px;
    vertical-align: middle;
}

#active {
    background-color: #223668;
    border-left: 3px solid #32d59e;
}

.asides {
    background-color: #162043;
}

.sidebar section ul li:hover p,
#active p {
    color: #9abbce;
}

.sidebar section ul li:hover svg,
#active svg {
    fill: #9abbce;
}

.quick-start {
    width: 340px;
    position: sticky;
    top: 20px;
    margin: 16px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #294c8c;
}

::-webkit-scrollbar-thumb {
    background-color: #2970fe;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

header {
    height: 30vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 0px;
    background: linear-gradient(to top, #010e2b, rgba(255, 255, 255, 0.137)), url(media/b_w_mountain_black_nature_beauty_white_4608x2592.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.left-side {
    width: 450px;
}

.left-cont {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    left: 255px;
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    position: absolute;
    bottom: -44px;
    box-shadow: 0px 6px 5px rgb(0 0 0 / 37%);
    margin: 20px 20px 20px 0;
}

.left-side .acv {
    width: 30px;
    height: 30px;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.37);
    pointer-events: none;
    border-radius: 10px;
}

.left-cont .title p {
    font-size: 30px;
    color: white;
    font-weight: 700;
}

.mail {
    display: flex;
    margin-top: 20px;
}

.mail p {
    font-size: 20px;
    color: white;
    font-weight: 700;
    margin-right: 10px;
    margin-left: 10px;
}

.right-side {
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.right-side ul {
    display: flex;
}

.right-side ul li {
    padding-right: 20px;
}

.right-side ul li a {
    text-decoration: none;
    color: #515c71;
}

.right-side ul li:hover {
    transform: scale(1.1);
}

.right-side ul li:hover a {
    color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}

main .container {
    margin-left: 40px;
}

.main .container {
    margin-top: 60px;
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.main .container h1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#nav-active {
    transform: scale(1.2);
}

#nav-active a {
    color: white;
}

.main .continue-watch .card .text {
    padding: 20px;
}

.main .continue-watch::-webkit-scrollbar-track {
    background-color: #00266f;
}

.main .continue-watch::-webkit-scrollbar-thumb {
    background-color: white;
}

.continue-watch {
    margin-top: 20px;
    padding: 20px;
    color: white;
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 450px;
}

.continue-watch .card {
    display: flex;
    margin-bottom: 20px;
    padding-top: 20px;
}

.continue-watch .card:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.continue-watch .card img {
    width: 130px;
    height: 170px;
    border-radius: 10px;
}

.continue-watch .card .inner {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.continue-watch .card .inner button {
    padding: 7px;
    border-radius: 7px;
    border: none;
    color: #082c7c;
    cursor: pointer;
    font-weight: bold;
}

.continue-watch .card .inner button:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.continue-watch .card .inner p {
    margin-left: 15px;
}

.continue-watch .seprate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.continue-watch .seprate p {
    font-size: 15px;
}

.continue-watch .seprate hr {
    width: 330px;
    height: 1px;
    border: none;
    background-color: #5172ae;
    margin-right: 15px;
    margin-top: 2px;
}

.continue-watch .card2-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.continue-watch .card2-container img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.continue-watch .card2-container img:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.continue-watch .card2-container .text h1 {
    font-size: 21px;
}

.continue-watch .card2-container .text {
    margin-left: 16px;
}

.continue-watch .card2 .img {
    width: 100%;
    margin-top: 29px;
    border-radius: 10px;
}

.main .stats {
    width: 100%;
    margin-left: 40px;
}

.main .stats .header {
    display: flex;
    justify-content: space-between;
}

.main .stats .header select {
    background-color: transparent;
    border: 1.5px solid white;
    color: white;
    padding: 3px 10px;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
}

.main .stats .header>select>option {
    background-color: #1c51bf;
    border: none;
    outline: none;
}

.stats .stats-cont {
    display: flex;
}

.stats .stats-cont .img-cont {
    display: flex;
    margin-top: 30px;
}

.stats .stats-cont .img1 {
    width: 194px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}

.stats .stats-cont .img1:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.stats .stats-cont .img-cont2 {
    display: flex;
    flex-direction: column;
}

.stats .stats-cont .img-cont2 img:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.stats .stats-cont .img-cont2 img {
    width: 107px;
    height: 135px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.statics {
    display: flex;
    align-items: flex-start;
    padding-top: 50px;
    margin-left: 50px;
    /* padding-right: 30px; */
}

.stats-cont .statics span {
    color: white;
    font-size: 64px;
    font-weight: 700;
    margin-right: 39px;
    margin-left: -8px;
}

.stats-cont .statics p {
    width: 50px;
    font-size: 14px;
    color: white;
    font-weight: 700;
    /* padding-top: 30px; */
}

@media (min-width:1260px) and (max-width:1477px) {
    .continue-watch .card img {
        width: 114px;
        height: 159px;
        border-radius: 10px;
    }
    .stats .stats-cont .img1 {
        width: 151px;
        height: 207px;
        object-fit: cover;
        border-radius: 10px;
    }
    .stats .stats-cont .img-cont2 img {
        width: 78px;
        height: 94px;
        margin-left: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .right-side ul {
        display: flex;
        padding-right: 50px;
    }
}

@media (min-width: 1153px) and (max-width:1259.9px) {
    .continue-watch .card img {
        width: 114px;
        height: 159px;
        border-radius: 10px;
    }
    .stats .stats-cont .img1 {
        width: 151px;
        height: 207px;
        object-fit: cover;
        border-radius: 10px;
    }
    .stats .stats-cont .img-cont2 img {
        width: 78px;
        height: 99px;
        margin-left: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .statics {
        display: flex;
        align-items: flex-start;
        padding-top: 50px;
        margin-left: 50px;
        /* padding-right: 30px; */
        flex-direction: column;
    }
    .stats .stats-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .right-side ul {
        display: flex;
        padding-right: 50px;
    }
}

@media (min-width: 1104px) and (max-width:1152.9px) {
    .continue-watch .card img {
        width: 114px;
        height: 159px;
        border-radius: 10px;
    }
    .stats .stats-cont .img1 {
        width: 151px;
        height: 207px;
        object-fit: cover;
        border-radius: 10px;
    }
    .stats .stats-cont .img-cont2 img {
        width: 78px;
        height: 94px;
        margin-left: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .statics {
        display: flex;
        align-items: flex-start;
        padding-top: 50px;
        margin-left: 50px;
        /* padding-right: 30px; */
        flex-direction: column;
    }
    .stats .stats-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .right-side ul {
        display: flex;
        padding-right: 50px;
    }
    .stats .stats-cont .img-cont2 img {
        width: 78px;
        height: 102px;
        margin-left: 10px;
        margin-bottom: 4px;
        border-radius: 10px;
    }
    .stats .stats-cont .img1 {
        width: 118px;
        height: 207px;
        object-fit: cover;
        border-radius: 10px;
    }
    .main .stats .header {
        display: flex;
        justify-content: space-between;
        width: 92%;
    }
}

@media (max-width:1103.9px) {
    .continue-watch .card img {
        width: 114px;
        height: 159px;
        border-radius: 10px;
    }
    .stats .stats-cont .img1 {
        width: 151px;
        height: 207px;
        object-fit: cover;
        border-radius: 10px;
    }
    .stats .stats-cont .img-cont2 img {
        width: 78px;
        height: 94px;
        margin-left: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    .statics {
        display: flex;
        align-items: flex-start;
        padding-top: 50px;
        margin: 0;
        /* padding-right: 30px; */
        flex-direction: column;
    }
    .right-side ul {
        display: flex;
        padding-right: 50px;
    }
    .stats .stats-cont .img-cont2 img {
        width: 90px;
        height: 103px;
        margin-left: 10px;
        margin-bottom: 4px;
        border-radius: 10px;
    }
    .stats .stats-cont .img1 {
        width: 161px;
        height: 214px;
        object-fit: cover;
        border-radius: 10px;
    }
    .main .stats .header {
        display: flex;
        justify-content: space-between;
        width: 92%;
    }
    .statics {
        display: flex;
        align-items: flex-start;
        padding: 0;
        margin-left: 50px;
        flex-direction: row;
    }
    .left-cont .title p {
        font-size: 26px;
        color: white;
        font-weight: 700;
    }
    .left-cont {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 63px;
        left: 237px;
    }
    .right-side ul {
        display: flex;
        padding-right: 36px;
    }
    .profile {
        width: 170px;
        height: 171px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        position: absolute;
        bottom: -44px;
        box-shadow: 0px 6px 5px rgb(0 0 0 / 37%);
        margin: 20px 20px 20px 0;
    }
    .right-side ul li a {
        text-decoration: none;
        color: #515c71;
        font-size: 12px;
    }
    .mail {
        display: flex;
        margin-top: 7px;
    }
    main {
        width: calc(100% - 159px);
        border-left: 1px solid #1e367b;
        border-top-left-radius: 25px;
        border-top-right-radius: 0px;
        height: 180vh;
        background: linear-gradient(to right, #082c7c, #1f53c4);
    }
    body {
        overflow: scroll;
        overflow-x: hidden;
    }
    .main .container {
        margin-top: 60px;
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 130vh;
    }
    .main hr {
        width: 500px;
        border: none;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        background-color: white;
        height: 2px;
    }
    .stats .stats-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin-left: 3px; */
        /* flex-direction: column; */
    }
    main {
        width: calc(100% - 159px);
        border-left: 1px solid #1e367b;
        border-top-left-radius: 25px;
        border-top-right-radius: 0px;
        height: 144vh;
        background: linear-gradient(to right, #082c7c, #1f53c4);
    }
    .main .container {
        margin-top: 60px;
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 102.5vh;
    }
}

@media (min-width:766px) and (max-width:800px) {
    .main .stats {
        width: 95%;
        margin-left: 40px;
    }
    .stats-cont .statics span {
        color: white;
        font-size: 55px;
        font-weight: 700;
        margin-right: 39px;
        margin-left: -8px;
    }
}

footer {
    position: relative;
    width: 100%;
    min-height: 120px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #162043;
}

footer .socials,
footer .menu {
    position: relative;
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;

}

.social {
    flex-direction: column;
}

footer h3,
footer p {
    color: white;
    margin: 0 10px 20px 10px;
    padding: 0 40px;
    max-width: 800px;
    font-size: 11px;
    letter-spacing: 0.5px;
    line-height: 20px;
}

footer h4 {

    color: white;
    margin: 0 10px 20px 10px;
    /* padding:0 40px;  */
    max-width: 800px;
    letter-spacing: 0.5px;
}

footer .socials li,
footer .menu li {
    list-style: none;
}

footer .menu {
    margin-bottom: 0 10px 20px 10px;
    font-size: 11px;
}

footer .socials li a {
    font-size: 2em;
    color: aliceblue;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;

}

footer .menu li a {
    font-size: 1.2em;
    color: aliceblue;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer .socials li a:hover,
.app img:hover {
    transform: translateY(-10px);
}

.app {
    padding: 15px 50px;

}

.app img {

    width: 120px;
    transition: 0.5s;
}


@media(max-width:950px) {
    .content {
        flex-direction: column;
        justify-content: center;


    }
}

.icons222 {
    display: flex;

}

@media (min-width:615px) and (max-width: 870px) {
    .icons222 {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    footer {
        position: relative;
        width: 100%;
        min-height: 120px;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #162043;
    }
}

@media (max-width:614.9px) {
    .icons222 {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    footer {
        position: relative;
        width: 100%;
        min-height: 120px;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #162043;
    }

    footer .socials li a {
        font-size: 17px;
        color: aliceblue;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
    }

    .app {
        padding: 15px 9px;
    }
}