@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
    font-family: 'Oxygen', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tajawal', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: radial-gradient(ellipse at bottom, #2a0330 0%, #090a0f 100%);
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(3px);
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.left-section {
    display: flex;
    flex-direction: column;
    /* border: 3px solid white; */
    /* margin-top: 100px; */
    /* justify-content: center; */
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
    /* width: 280px; */
    height: 80vh;
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

.left-section h2 {
    font-size: 42px;
    text-align: center;
    font-weight: 800;
}

header p {
    font-size: 17px;
    text-align: center;
}

.left-section .info {
    display: flex;
    /* flex-direction: column; */
    /* margin-top: 80px; */
    /* flex-grow: 0; */
}

.left-section .info .inf {
    display: flex;
    align-items: center;
    padding: 20px;
    /* margin-top: 35px; */
    padding-left: 5px;
    height: 8vh;
}

.left-section .info .inf:hover {
    border: 2px solid #410efb;
    border-radius: 5px;
    background-color: #030D59;
    transition: 0.2s;
    cursor: pointer;
}

.left-section .info .inf i {
    color: #0E75FB;
    padding-right: 20px;

}

.left-section .social-media {
    display: flex;
    align-items: center;
    /* margin-top: 77px; */
}

.left-section .social-media i {
    margin-right: 50px;
    font-size: 20px;
}

.left-section .social-media i:hover {
    color: #0E75FB;
    transition: 1s;
    cursor: pointer;
}

.right-section {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    margin-top: 55px;
    height: 60vh;
    margin-bottom: 31px;
    width: 510px;
    color: black;
    background-color: white;
    border-radius: 20px;
    animation: 1s ease-out 0s 1 slideInFromTop;
}


.right-section .enter-info {
    display: flex;
    flex-direction: column;
    margin-left: 37px;
    margin-top: 25px;
    width: 404px;
    height: 78%;
    margin: auto;
}

.right-section .enter-info input {
    height: 6vh;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 10px;
    font-size: 1rem;
    padding: 10px;
}



.right-section .enter-info textarea {
    border: none;
    background-color: #f5f5f9;
    border-radius: 7px;
    text-decoration: solid;
    resize: none;
    font-weight: 500;
    font-size: 15px;
    padding: 10px;
}



.input :focus {
    border: 1px solid blue;

}


.right-section .enter-info label {
    margin-bottom: 15px;
    font-weight: 600;


}

#submit {
    width: 17rem;
    height: 8vh;
    border: none;
    background-color: RGB(12, 117, 255);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 800;
    margin-left: 194px;
    margin-top: 20px;
    margin: auto;
    margin-top: 33px;
}


#submit:hover {
    background-color: #02044A;
    transition: 0.7s;
    cursor: pointer;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }


}

@media (max-width:500px) {
    body {
        background-color: red;
    }
}