@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

body {
    overflow-x: hidden;
    background-color: #000101;
    max-width: 100%;

}

.div {
    width: 100%;

}

hr {
    height: 4px;
    width: 70%;
    margin: auto;
    background-color: white;
    border: none;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.page-1 {
    width: 100%;
    overflow: hidden;
    background-image: url(media/flip.png);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.cont {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.title-pag1 {
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-bottom: 30px;
}

.title-name {
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    height: 100px;
}

.video2 {
    z-index: -1;
    object-fit: cover;
    object-position: center;
}

#tl {
    height: 420px;
}

#tl span {
    font-size: 15px;
}

.box {
    margin-top: 40px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
    -webkit-border-radius: 20px;
    width: 300px;
    height: 460px;
    margin: auto;
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#photo2 {
    height: 400px;
}

.box:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#box3 {
    overflow: hidden;
}

#photo3 {
    transform: scaleX(2);
    -webkit-transform: scaleX(2);
    -moz-transform: scaleX(2);
    -ms-transform: scaleX(2);
    height: 400px;
    -o-transform: scaleX(2);
}

.box img {
    top: 0;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-radius: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.box:hover img {}


p {
    color: white;
    font-size: 24px;
}

.about-us {
    z-index: 99999;
    position: absolute;
    bottom: 50px;
    text-align: center;
}


.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    top: 100vh;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 150%;
    position: absolute;
    height: 300%;
}

#vvv {}

.banner h2 {
    position: absolute;
    top: 0;
    user-select: none;
    Left: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    background: url(media/image_processing200200601-2382-lgwx7r.png);
    background-position: center;
    background-size: 100%;
    font-size: 20vw;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 100vh;
    mix-blend-mode: multiply;
}


@media (max-width:500px) {
    .banner h2 {
        background-position: center;
        background-size: cover;
    }

    .banner video {
        width: fit-content;

        position: absolute;
        height: 300%;
    }

    footer .socials li,
    footer .menu li {
        margin: auto;
        list-style: none;
    }

    footer {
        position: relative;
        width: 100%;
        min-height: 120px;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        background: #272726;
    }
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {

    background: #ffee00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



#mmm {}


.cont2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

h2 {
    font-weight: bold;

}

.box {
    margin-top: 40px;
}


@media (min-width: 1500px) {
    .cont {
        width: 70%;
    }
}

@media (max-width: 1300px) {
    .cont {
        width: 100%;
    }
}

.all {}

footer {
    margin-top: 50px;
    position: relative;
    width: 100%;
    min-height: 120px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #272726;
}

footer .socials,
footer .menu {
    position: relative;
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;

}

.social {
    flex-direction: column;
}

footer h3,
footer p {
    color: white;
    margin: 0 10px 20px 10px;
    padding: 0 40px;
    max-width: 800px;
    font-size: 11px;
    letter-spacing: 0.5px;
    line-height: 20px;
}

footer h4 {

    color: white;
    margin: 0 10px 20px 10px;
    /* padding:0 40px;  */
    max-width: 800px;
    letter-spacing: 0.5px;
}

footer .socials li,
footer .menu li {
    list-style: none;
}

footer .menu {
    margin-bottom: 0 10px 20px 10px;
    font-size: 11px;
}

footer .socials li a {
    font-size: 2em;
    color: aliceblue;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;

}

footer .menu li a {
    font-size: 1.2em;
    color: aliceblue;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer .socials li a:hover,
.app img:hover {
    transform: translateY(-10px);
}

.app {
    padding: 15px 50px;

}

.app img {

    width: 120px;
    transition: 0.5s;
}


@media(max-width:950px) {
    .content {
        flex-direction: column;
        justify-content: center;


    }
}

.icons222 {
    display: flex;

}

@media (min-width:615px) and (max-width: 870px) {
    .icons222 {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    footer {
        position: relative;
        width: 100%;
        min-height: 120px;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #272726;
    }
}

@media (max-width:614.9px) {
    .icons222 {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    footer {
        position: relative;
        width: 100%;
        min-height: 120px;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #272726;
    }

    footer .socials li a {
        font-size: 17px;
        color: aliceblue;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
    }

    .app {
        padding: 15px 9px;
    }
}
